*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}


body{
    background: linear-gradient(-45deg,#fff0f5,#ffe6f0,#ffd6eb,#fff);
    background-size:400% 400%;
    animation: gradientMove 10s ease infinite;
    overflow:hidden;
}


@keyframes gradientMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}


.page{
    position:absolute;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    opacity:0;
    transition:1s ease;
}


.active{
    opacity:1;
    z-index:10;
}


/* Page 1 */
.page1 h1{
    font-size:2.7rem;
    color:#ff3399;
    text-shadow:0 0 20px #ff99cc;
}


button{
    margin-top:30px;
    padding:12px 30px;
    border:none;
    border-radius:30px;
    background:linear-gradient(45deg,#ff66a3,#ff3399);
    color:white;
    font-size:1rem;
    cursor:pointer;
    box-shadow:0 0 20px #ff99cc;
    transition:0.4s;
}


button:hover{
    transform:scale(1.1);
}


/* Page 2 */
.valentine{
    font-size:2.2rem;
    font-weight:800;
    color:#ff3399;
    text-shadow:0 0 15px #ff99cc;
}


.name{
    font-family:'Great Vibes', cursive;
    font-size:3.5rem;
    color:#ff66a3;
    margin:15px 0;
}


.letter{
    max-width:600px;
    margin-top:20px;
    padding:20px;
    background:rgba(255,255,255,0.4);
    backdrop-filter:blur(10px);
    border-radius:15px;
    line-height:1.8;
    color:#cc0066;
}


/* Page 3 */
.page3 h1{
    font-size:2.2rem;
    color:#ff3399;
}


.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
    gap:12px;
    width:100%;
    max-width:800px;
    margin-top:20px;
}


.gallery img{
    width:100%;
    border-radius:12px;
    cursor:pointer;
    transition:0.4s;
}


.gallery img:hover{
    transform:scale(1.1);
}


/* Promise */
.promise{
    margin-top:30px;
    font-size:1.7rem;
    font-weight:700;
    color:#ff0066;
    text-shadow:0 0 10px #ff99cc;
}


/* Modal */
.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    justify-content:center;
    align-items:center;
    flex-direction:column;
}


.modal img{
    max-width:85%;
    border-radius:15px;
    box-shadow:0 0 30px white;
}


.modal p{
    color:white;
    margin-top:15px;
}


.modal span{
    position:absolute;
    top:20px;
    right:30px;
    font-size:2rem;
    color:white;
    cursor:pointer;
}